.homepage {
    width: 75%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    color: #2e2e2e;

    &__title {
        font-size: 2em;
        line-height: 1;
        margin: 0 0 10px;
        text-transform: capitalize;
    }

    &__description {
        font-size: 1.15em;
        font-weight: 400;
    }

    &__box {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 12px;
    }

    &__preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;

        &__comparison {
            display: flex;
            justify-content: center;
            // margin: 16px 0;
            height: 400px;
            flex: 3;
            background-image: url(../../assets/image/common/background.jpg);
            border: 2px solid #ddd;
            border-radius: 4px;

            > div {
                width: 49.2% !important;
            }
        }

        &__custom {
            flex: 1;
        }
    }

    &__upload {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1em;
    }

    .slider__wrapper {
        width: 500px;
        margin: 0 auto;

        img {
            width: auto;
            // height: auto;
        }
    }

    input[type="file"] {
        display: none;
    }
}